body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.random-user-section, 
.multiple-users-section {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    width: 45%;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    width: auto;
    padding: 8px 15px;
}

.pagination span {
    font-weight: bold;
}

#totalUsers {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #666;
}

.editButton {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.editButton:hover {
    background-color: #1976D2;
}

.total-users-container {
    text-align: start;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.update-message {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    transition: opacity 0.5s ease;
}
